blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cors==1.0.1
filelock==3.16.1
Flask==2.3.0
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-SQLAlchemy==3.1.1
future==1.0.0
gevent==24.10.3
greenlet==3.1.1
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
pycparser==2.22
PySocks==1.7.1
pytest==7.4.3
requests==2.31.0
requests-file==2.1.0
six==1.16.0
SQLAlchemy==2.0.35
tldextract==5.1.2
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==2.3.0
zope.event==5.0
zope.interface==7.1.1
